/*
    iPhone 11 Step1 CSS
    ===============================================
*/

@charset "UTF-8";

@media only screen and (max-device-width: 320px) {
    .as-promo-img {
        padding-right: 12px;
    }
}


@media only screen and (max-width: 736px) and (max-device-width: 768px) {
    .as-overlay-fullscreen.deliverydatesOverlayContainer
        .as-deliverydatesoverlay
        .as-deliverydatesoverlay-heading {
        white-space: initial;
    }
}

.gb .as-dimension-capacity .as-dimension-pricebox .as-price-installment-overlay > a:before,
.gb .as-dimension-screensize .as-dimension-pricebox .as-price-installment-overlay > a:before {
    display: none;
}

html.oldie .rs-modular-container .form-choiceselectorlabel-twocolright {
    vertical-align: middle;
}

/* 29773461 */
@media only screen and (max-width: 736px) and (max-device-width: 768px) {
    .en-us .pd-buyflow-info-ovelray .as-overlay-content .as-chatonline {
        padding-left: 6.25%;
        padding-right: 6.25%;
    }
    .en-us .pd-buyflow-info-ovelray .as-overlay-content .pd-overlay-footnotes {
        padding-bottom: 20px;
    }
    .pt .as-price-disclaimer .as-price-disclaimertext {
        display: block;
        margin: 0 auto;
        width: 210px;
    }
}

html.br .as-price-installments > br {
    display: block;
}

/* 30344035 Fixing only for R3 */
.as-community .as-community-ellipsis:before {
    content: '\2026';
    display: inline-block;
}

/* 30461746 Fixing for R3 */
@media only screen and (max-width: 736px) and (max-device-width: 768px) {
    .pd-buyflow-info-ovelray .as-chatonline div > span {
        display: block;
    }
}

/* 30959971 */
.family-iphone .rs-deliveryoptions-overlaytrigger {
    min-height: 70px;
}

/*32843056*/
/*32892082*/
.as-chat .as-chat-content br {
    display: none;
}

/*32847679*/
@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .handheld .rs-purchasesummary-container .fvtooltip-top:before,
    .handheld .rs-purchasesummary-container .fvtooltip-top:after {
        left: 140px;
    }

    .handheld .rs-purchasesummary-container a.favorites ~ .fvtooltip-top {
        left: -140px;
    }
}

/*32661200*/
.as-purchaseinfo-additionalmessage {
    padding-top: 0;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .rs-purchasesummary-actionbox .as-icondetails-icon {
        padding-top: 20px;
    }
    .rs-purchasesummary-container
        .as-retailavailabilitytrigger-info
        .as-purchaseinfo-availabilityicons {
        padding-top: 18px;
    }
}

/*32843056*/
html:lang(es-MX) .rs-purchasesummary-pricebox .as-price-installments a {
    white-space: nowrap;
}

/*32523115*/
.rs-purchasesummary-actionbox .large-3 {
    width: 30%;
}

.rs-purchasesummary-actionbox .large-4 {
    width: 28.33333%;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .rs-purchasesummary-actionbox .large-3.small-12,
    .rs-purchasesummary-actionbox .large-4.small-12 {
        width: 100%;
    }
}

.as-productlocator-togglebtn-content .as-productlocator-productprice .nowrap,
.as-productlocator-togglebtn-content .as-productlocator-productprice span {
    display: inline;
}

.as-productlocator-maincontent {
    width: 433px;
}

.rs-modularoverlay-comparesection.rs-modularoverlay-singlecompare:last-child {
    padding-right: 0;
}

/*32917704*/
.rs-modularoverlay-compare + .rs-modularoverlay-infographic {
    margin-top: 34px;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .rs-modularoverlay-compare + .rs-modularoverlay-infographic {
        margin-top: 22px;
    }

    /*33023443*/
    .rs-purchasesummary-finance .as-price-promotion {
        text-align: left;
    }
}

.as-generic-notify,
.as-notify {
    min-height: 0;
    padding: 20px 0;
}

.rs-purchasesummary-container .as-dimension-sectionfooter > .as-l-container {
    width: auto;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .rs-purchasesummary-container .as-dimension-sectionfooter > .as-l-container {
        width: 87.5%;
    }
}

/*Fix for rdar://problem/34216447*/
.as-dimension-carrier-contract label[for='carrierModel-SPRINT/US'] img {
    margin-top: 7px;
}

/* Fix for INC064715793 */
.rs-purchasesummary-container .as-retailavailabilitytrigger-info .as-purchaseinfo-availabilityicons,
.rs-purchasesummary-actionbox .as-icondetails-icon {
    top: 0;
}

/* Fix for <rdar://problem/35096343 >  */
.rs-purchasesummary-actionbox .grouped-button-icon {
    padding-top: 4px;
}

/* Product locator show selected color label */
.colornav-value.selected ~ .colornav-link .colornav-label {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    margin-left: -50px;
    padding-top: 8px;
    white-space: nowrap;
    width: 100px;
}

/*rdar://problem/37922808*/
.as-promo-content.as-promo-content-hide a {
    color: white;
}

/* PL overlay search STARTS */
.as-productlocator-form .ase-validator-message {
    margin-top: 0;
}
.as-productlocator-autocomplete .form-icons-wrapper-left {
    position: absolute;
    margin: 0;
    top: 2px;
    left: 8px;
}
.as-productlocator-autocomplete ~ .as-productlocator-inputreset {
    position: absolute;
    right: 15px;
    top: 4px;
}
/* PL overlay search ENDS */

.as-purchaseoptions .as-form-choiseselectordesc + .as-form-choiseselectordesc {
    margin-top: -17px;
}

.as-dimension-tradeup {
    margin-top: 0;
    border: 0;
}

.as-bfpurchase-options .as-purchaseoptions-isrevealed {
    margin-bottom: 54px;
}

.pd-overlay-iphone-201606-compare td .current_price {
    position: relative;
}

.as-productlocator-dimensions.colornav-items {
    padding: 5px 0 0;
}

.as-productlocator-dimensions .colornav-item {
    margin: 2px 0 2px 17px;
    width: 27%;
}

.as-productlocator-dimensions .colornav-item:first-child {
    margin-left: 17px;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .as-productlocator-dimensions.colornav-items {
        padding-bottom: 6px;
    }

    .as-productlocator-maincontent {
        width: auto;
    }
}

.as-buttongroup-item .as-buttongroup-button {
    text-align: center;
}

/* Gallery fix for white 1px line and Fix for 44248334 */
.as-carousel-black.rs-buyflow-inlinegallery .ase-gallery {
    background-color: black;
}

.theme-dark .paddlenav-framed .paddlenav-arrow.disabled:after {
    opacity: 0;
}

.as-tradeupbanner-simple .as-tradeupbanner-header .as-tradeupbanner-selected {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    letter-spacing: 0.011em;
    display: block;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .as-accessoryoverlay-compareitem {
        padding-bottom: 26px;
    }

    .as-tradeupbanner-simple .as-tradeupbanner-header .as-tradeupbanner-selected {
        font-size: 19px;
        line-height: 1.21053;
        letter-spacing: 0.012em;
    }
}

/* Image alignments fixes for iPhone XR */
.as-productdecision-selectionmedia-ambient .ipadpro-ambient {
    min-height: 580px;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
	.as-productdecision-selectionmedia-swapimage > img {
        padding-top: 0;
        padding-bottom: 30px;
    }

    .as-productdecision-selectionmedia-swapimage .as-swapimage img {
		padding-top: 0;
        margin-bottom: 30px;
	}
}

/* <rdar://problem/49226883> DCM QA - [Accessories][Web][iPhone Attach][US][EDU] */

.en-us.ac-gn-segmentbar-visible .as-dimension-carrierModel .form-choice-selector-label {
    min-height: 114px;
}

/* <rdar://problem/49407667> CN WinterGreen - Giveback Subsidy [iPhone PDP, alignment issue for subsidy amt] */

.cn .as-tradeupinline-quote .as-tradeupinline-quoteheader {
    width: 75%;
}

/* fixing iup opt-out sim-free msg too close to the tile */

.as-dimension-carrier-simfree .as-dimension-copy {
    padding-top: 12px;
}

/* fixing https://cst.apple.com/tkt.do?tkt=INC071237189 */
.rr-overlay-open {
    position: relative;
    z-index: -1;
}

.rr-overlay-open-ios {
    position: fixed;
}

/* <rdar://problem/49547685> JP: iPhone XS/8/7: Finance text alignment is not matching with Production */
.jp .as-productdecision-headerprice .price-point {
    display: block;
}

/* <rdar://problem/48315656> 19.4 SPBF BUAT - Stage [ETA : 4/16] SPBF : Mow - Value Props are in wrong location */
@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .as-purchaseinfo-chatonline,
    .as-productdecision .as-purchaseinfo {
        padding: 0;
    }

    .as-chat {
        padding: 22px 0 17px;
    }
}

.cn h2.as-tradeup-savedesc-subheader {
    padding-left: 18px;
    padding-right: 18px;
}

@media only screen and (max-width: 1023px) and (max-device-width: 736px) {
    .cn h2.as-tradeup-savedesc-subheader {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 1023px) and (max-device-width: 736px) {
    .as-purchaseinfo-chatonline .as-chat-title,
    .as-purchaseinfo-chatonline .as-chat-content {
        display: inline-block;
    }
}

.as-dimension .price-point-fullPrice-short .price-point-terms {
    display: inline;
}

.as-dimension .price-point + .price-point-fullPrice-short .price-point-terms {
    display: none;
}

/* <rdar://problem/52945409> 19.6 Trade-in OFF JP: iPhone SPBF: Finance Link is getting displayed in Step 1 page, below iPhone header in Step Page */
.as-productdecision-headerprice a {
    pointer-events: none;
    text-decoration: none;
    display: inline;
    color: #333;
}

/* <rdar://problem/52093827> [STAGE] Price below header is split in three lines insted of 2 lines. */
/* <rdar://problem/52993109> Staging:UK_CON,UK_EDU,UK_SMB,UK_EPP:Wintergreen UK_Config OFF: "with trade in" is displayed inside the tiles in Choose your model and choose your capacity section */
/* <rdar://problem/53096283> Staging: UK_Cons:UKSMB:UK_KISOK: ** is not displayed inside the capacity tile to all iphones */
.as-productdecision-headerprice .price-point,
.as-productdecision-headerprice .as-price-installments,
.as-dimension .price-point-fullPrice .price-point-terms {
    display: inline;
    color: #333;
}

.as-productdecision-headerprice .price-point-terms,
.as-dimension .price-point-rate,
.as-dimension .price-point-terms,
.as-dimension .price-point-headerprice {
    display: none;
}

.as-purchaseinfo-actioninfo .as-ireserve-button {
    text-align: center;
    font-size: 14px;
    line-height: 1.42861;
    font-weight: 400;
    letter-spacing: -.016em;
}

.as-purchaseinfo-actioninfo .as-ireserve-button:lang(zh) {
    letter-spacing: 0;
}

.as-buystrip .as-buystrip-icon {
    color: #333;
}

.as-productdecision-selectionarea:not(.as-buyflow-messages-hidedefaultfinancing) .as-buyflow-messagelinkcontainer {
    display: none;
}

.as-buystrip .as-buystrip-title>span {
  letter-spacing: -0.01em;
}

.as-buystrip .as-buystrip-title>span:lang(ar),
.as-buystrip .as-buystrip-title>span:lang(ja),
.as-buystrip .as-buystrip-title>span:lang(ko),
.as-buystrip .as-buystrip-title>span:lang(th),
.as-buystrip .as-buystrip-title>span:lang(zh) {
  letter-spacing: 0em;
}

.as-dimension-carrier-simfree a {
    font-size: 14px;
    line-height: 1.42861;
    font-weight: 400;
    letter-spacing: -0.016em;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrier-simfree a:lang(ar) {
    line-height: 1.57143;
    letter-spacing: 0em;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrier-simfree a:lang(ja) {
    line-height: 1.5;
    letter-spacing: 0em;
    font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrier-simfree a:lang(ko) {
    line-height: 1.57143;
    letter-spacing: 0em;
    font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrier-simfree a:lang(th) {
      font-size: 14px;
      line-height: 1.71429;
      letter-spacing: 0em;
      font-family: "SF Pro TH", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrier-simfree a:lang(zh) {
      letter-spacing: 0em;
}

.as-dimension-carrier-simfree a:lang(zh-CN) {
      font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrier-simfree a:lang(zh-HK) {
      font-family: "SF Pro HK", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrier-simfree a:lang(zh-MO) {
      font-family: "SF Pro HK", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrier-simfree a:lang(zh-TW) {
      font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrierModel .as-dimension-titlebox,
.as-purchaseoptions-dimensionheader,
.rs-accessory-tile-subheading {
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrierModel .as-dimension-titlebox:lang(ar),
.as-purchaseoptions-dimensionheader:lang(ar),
.rs-accessory-tile-subheading:lang(ar) {
      line-height: 1.66667;
      letter-spacing: 0em;
      font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrierModel .as-dimension-titlebox:lang(ja),
.as-purchaseoptions-dimensionheader:lang(ja),
.rs-accessory-tile-subheading:lang(ja) {
      line-height: 1.41667;
      letter-spacing: 0em;
      font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrierModel .as-dimension-titlebox:lang(ko),
.as-purchaseoptions-dimensionheader:lang(ko),
.rs-accessory-tile-subheading:lang(ko) {
      line-height: 1.45841;
      letter-spacing: 0em;
      font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrierModel .as-dimension-titlebox:lang(th),
.as-purchaseoptions-dimensionheader:lang(th),
.rs-accessory-tile-subheading:lang(th) {
      font-size: 12px;
      line-height: 1.75;
      letter-spacing: 0em;
      font-family: "SF Pro TH", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrierModel .as-dimension-titlebox:lang(zh),
.as-purchaseoptions-dimensionheader:lang(zh),
.rs-accessory-tile-subheading:lang(zh) {
      letter-spacing: 0em;
}

.as-dimension-carrierModel .as-dimension-titlebox:lang(zh-CN),
.as-purchaseoptions-dimensionheader:lang(zh-CN),
.rs-accessory-tile-subheading:lang(zh-CN) {
      font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrierModel .as-dimension-titlebox:lang(zh-HK),
.as-purchaseoptions-dimensionheader:lang(zh-HK),
.rs-accessory-tile-subheading:lang(zh-HK) {
      font-family: "SF Pro HK", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrierModel .as-dimension-titlebox:lang(zh-MO),
.as-purchaseoptions-dimensionheader:lang(zh-MO),
.rs-accessory-tile-subheading:lang(zh-MO) {
      font-family: "SF Pro HK", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrierModel .as-dimension-titlebox:lang(zh-TW),
.as-purchaseoptions-dimensionheader:lang(zh-TW),
.rs-accessory-tile-subheading:lang(zh-TW) {
      font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.as-dimension-carrierModel .as-dimension-titlebox {
    padding: 10px 0;
}

.as-purchaseoptions-dimensionheader {
    padding-bottom: 10px;
}

.as-purchaseoptions-dimensionheader span {
    margin-top: 0;
}

.as-buyflow-messagelinkcontainer {
    padding-bottom: 0;
}

.rs-buyflow-inlinegallery {
    height: auto;
}

.rs-buyflow-inlinegallery .as-carousel-image {
    max-width: 1680px;
    max-height: none;
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.rs-buyflow-inlinegallery .dotnav {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rs-buyflow-inlinegallery .as-carousel-black {
    background-color: #ffffff;
}

.rs-buyflow-inlinegallery .as-carousel-black:nth-child(2) {
    background-color: #ececec;
}

@media only screen and (max-width: 1023px) and (max-device-width: 736px) and (orientation: landscape) {
    .rs-buyflow-inlinegallery .as-carousel-image {
        max-height: 387px;
        height: 387px;
        max-width: none;
        width: auto;
    }
}

/* localnav overrides */
.localnav-standard .localnav-title {
    margin: 4px 0 8px;
}

.localnav-standard .localnav-links {
    margin: 0 0 15px;
}

@media only screen and (max-width: 1023px) and (max-device-width: 736px) {
    .localnav-standard .localnav-links {
        margin: 0 48px;
    }

    .localnav-standard .localnav-title {
        padding: 12px 16px 5px;
        margin: 0;
    }

    .localnav-wrapper:after {
        top: 48px;
    }

    .localnav-standard .localnav-persistent .disclosure-icon-small {
        top: 6px;
    }
}

.localnav-title,
.localnav-title > .as-chiclets-wrap,
.localnav-title > .as-chiclets-wrap .as-chiclets-text {
    font-size: 21px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: 0.011em;
    font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.localnav-title:lang(th),
.localnav-title > .as-chiclets-wrap:lang(th),
.localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(th) {
    letter-spacing: 0em;
    font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.localnav-title:lang(ar),
.localnav-title > .as-chiclets-wrap:lang(ar),
.localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(ar) {
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.localnav-title:lang(ja),
.localnav-title > .as-chiclets-wrap:lang(ja),
.localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(ja) {
    font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.localnav-title:lang(ko),
.localnav-title > .as-chiclets-wrap:lang(ko),
.localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(ko) {
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.localnav-title:lang(zh-CN),
.localnav-title > .as-chiclets-wrap:lang(zh-CN),
.localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.localnav-title:lang(zh-HK),
.localnav-title > .as-chiclets-wrap:lang(zh-HK),
.localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.localnav-title:lang(zh-MO),
.localnav-title > .as-chiclets-wrap:lang(zh-MO),
.localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.localnav-title:lang(zh-TW),
.localnav-title > .as-chiclets-wrap:lang(zh-TW),
.localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@media only screen and (max-width: 1023px) and (max-device-width: 736px) {
    .localnav-title,
    .localnav-title > .as-chiclets-wrap,
    .localnav-title > .as-chiclets-wrap .as-chiclets-text {
        font-size: 19px;
        line-height: 1.26316;
        font-weight: 600;
        letter-spacing: 0.012em;
        font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .localnav-title:lang(th),
    .localnav-title > .as-chiclets-wrap:lang(th),
    .localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(th) {
        letter-spacing: 0em;
        font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .localnav-title:lang(ar),
    .localnav-title > .as-chiclets-wrap:lang(ar),
    .localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(ar) {
        font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .localnav-title:lang(ja),
    .localnav-title > .as-chiclets-wrap:lang(ja),
    .localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(ja) {
        font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .localnav-title:lang(ko),
    .localnav-title > .as-chiclets-wrap:lang(ko),
    .localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(ko) {
        font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .localnav-title:lang(zh-CN),
    .localnav-title > .as-chiclets-wrap:lang(zh-CN),
    .localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(zh-CN) {
        font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .localnav-title:lang(zh-HK),
    .localnav-title > .as-chiclets-wrap:lang(zh-HK),
    .localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(zh-HK) {
        font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .localnav-title:lang(zh-MO),
    .localnav-title > .as-chiclets-wrap:lang(zh-MO),
    .localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(zh-MO) {
        font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .localnav-title:lang(zh-TW),
    .localnav-title > .as-chiclets-wrap:lang(zh-TW),
    .localnav-title > .as-chiclets-wrap .as-chiclets-text:lang(zh-TW) {
        font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
}

.as-purchaseoptions .as-comparepayment-link {
    margin-top: 8px;
}

.as-purchaseoptions-dimensionheader .as-comparepayment-link {
    font-size: 14px;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .as-purchaseoptions .as-comparepayment-link {
        margin-top: 6px;
    }
}

.as-productdecision-headerprice + span {
    padding-top: 6px;
    display: inline-block;
}

.as-dimension-dimensionCapacity .form-selector-title {
    margin-bottom: 5px;
    display: inline-block;
}

.as-purchaseinfo-details .as-price-currentprice:lang(ja) {
    font-size: 29px;
    font-weight: 400;
}

@media only screen and (max-width: 1023px) and (max-device-width: 736px) {
    .as-dimension-dimensionCapacity .form-selector-title {
        margin-bottom: 3px;
    }

    .as-promo-content {
        text-align: center;
    }

    .as-dimension-dimensionCapacity sup {
        bottom: -8px;
    }

    .as-purchaseinfo-details .as-price-currentprice:lang(ja) {
        font-size: 22px;
        font-weight: 600;
    }
}

@media only screen and (max-device-width: 320px) and (orientation: portrait) {
    .as-purchaseoptions .form-choiceselectorlabel-twocolleft {
        padding-right: 26px;
    }
}

/* <rdar://problem/55763843> [ETA: TBD] AppleCare Inline: Legal text should be underneath the selector with the Learn more link underneath the legal text */
.rs-accessory-tile .rs-modularaccessory .as-addondetails-ipttext {
    padding-left: 0;
}

/* <rdar://problem/55008350> [STAGE VERIFY] IL AC:AU/SE:Step 1: GST/TAX is not getting updated in the summary builder while selecting AC+ */
.as-purchaseinfo-details .as-price-disclaimertext-hidden {
    display: none;
}

/* collapsable link */
.as-purchaseoptions.as-purchaseoptions-isrevealed {
    padding-bottom: 25px;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .as-purchaseoptions-collapsable {
        padding-top: 7px;
        padding-bottom: 17px;
    }
}

/* Summary finance link */
.as-purchaseinfo-details.as-price-visible>div:last-child {
    padding-bottom: 25px;
}

/* To avaoid wrapping of > in seperate line */
.as-buyflow-messagelinkcontainer .more::after {
    display: inline;
}

.as-buystrip-image img {
    margin-top: -4px;
}

.as-buystrip-image + .as-buystrip-title {
    margin-top: -3px;
}

/* Fix for <rdar://problem/63285804> */
.localnav-price .price-point-terms {
    display: none;
}

.as-tradeupinline-singlerowmodule {
    padding-left: .41176rem;
    padding-right: .41176rem;
}

/* Fix for <rdar://problem/63321950> */
purchase-options .form-selector-twocolumns .form-choice-selector-label-list .form-choiceselectorlabel-twocol {
    padding-top: 10px;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    purchase-options .form-selector-twocolumns .form-choice-selector-label-list .form-choiceselectorlabel-twocol {
        padding-top: 8px;
    }
}

/* Fix for <rdar://problem/65353823> */
.as-productdecision-savingsmessage {
    margin-bottom: 2px;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .as-productdecision-savingsmessage {
        margin-bottom: 0;
    }
}

/* <rdar://problem/65223560> */
.as-summaryerror-desc {
    padding-top: 12px;
}

/* rdar://67023536 */
.in .as-productdecision-header span:last-child {
    margin-bottom: 0;
}

.rs-accessory-option .as-form-choiceselectordesc-listitem {
    display: list-item;
    padding-bottom: 5px;
    list-style-type: disc;
    margin-left: 12px;
}

.rs-accessory-option .as-form-choiceselectordesc-listitem:last-child {
    padding-bottom: 0;
}

/* WITB spacing */
.as-imagelist-with2items .as-imagelist-item:first-child .as-imagelist-hero {
    padding-left: 245px;
}
.as-imagelist-with2items .as-imagelist-item:first-child .as-imagelist-label {
    padding-left: 260px;
}
.as-imagelist-with2items .as-imagelist-item:last-child .as-imagelist-hero {
    padding-right: 245px;
}
.as-imagelist-with2items .as-imagelist-item:last-child .as-imagelist-label {
    padding-right: 260px;
}

.as-imagelist-container p {
    font-size: 14px;
    color: #666;
}

.as-purchaseoptions-staticpricehighlight,
.as-purchaseoptions-descwithpromo {
    display: none;
}

.as-purchaseoptions-descwithnopromo {
    display: block;
}

.as-dimension.as-dimension-dimensionCapacity .form-choice-selector.selected~.form-choice-selector-label {
    padding: 0.6470564706rem 0.8235264706rem;
}

.as-dimension legend + .as-dimension-subheader {
    margin-top: 9px;
}

.as-tradeupinline-selectionheader h2 + div {
    margin-top: 7px;
}

.rs-dims {
    display: inline;
    height: 0;
    position: absolute;
}

.rs-dims.rs-dims-visible {
    height: 339px;
    position: static;
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .rs-dims.rs-dims-visible {
        height: 372px;
    }
}

@media only screen and (max-device-width: 736px) and (max-width: 1023px) {
    .carrier-compare-price-overlay .as-overlay-content {
        padding: 0;
    }
}

.as-carrierpromotion-static-section .as-carrierpromotion-offers .as-accordion-item:last-child {
    border-bottom: 1px solid #e3e3e3;
}

.as-dimension-carrier-contract .as-prices-carrierconnectedtext {
    display: none;
}

.as-dimension-dimensionScreensize .as-prices-connectedtext {
    display: block;
}

.as-compareprice-pricesection .as-compareprice-type,
.as-compareprice-pricesection .as-compareprice-discountnote {
    padding-left: 4px;
    padding-right: 4px;
}
