/* .show1{
    display: none;
}
.show2{
    display: none;
}
.show3{
    display: none;
}
.show4{
    display: none;
}
.show5{
    display: none;
}
.show6{
    display: none;
}
.show7{
    display: none;
}
.show8{
    display: none;
} */

/* .show_slider{
    
} */

.show_slider div{
    display: none;
}

.show_slider div:nth-child(1){
    display: block;
}